<head>
<link rel="stylesheet" href="css/workouts.css">
</head>

Workouts
<br><br>
<a href="" ng-click="showTable()">Table view</a> |
<a href="" ng-click="showGrid()">Grid view</a> | 
<a href="" ng-click="fetchWorkouts()">Update Workouts</a> |
Show: <select ng-model="selectedSport" ng-options="sport for sport in sports">
</select>
<br><br>

<div ng-if="visibleGrid">
	<div ui-grid="gridOptions" class="myGrid"></div>
</div>


<div ng-if="visibleTable">
	<table>
		<tr>
			<td><a href="" ng-click="orderById()">no.</a></td>
			<td>Start time</td>
			<td>Duration</td>
			<td><a href="" ng-click="orderByDurationRank()">Duration<br>rank #</a></td>
			<td>Distance<br>km
			</td>
			<td>Distance<br>rank #
			</td>
			<td>Calories</td>
			<td>Avg speed<br>km/h
			</td>
			<td>Avg speed<br>rank #
			</td>
			<td>Activity</td>
		</tr>
		<tr ng-repeat="workout in workouts | orderBy:order | filter:(selectedSport!='All' || '') && {sport:selectedSport}">
			<td><a ng-click="setCurrentWorkout(workout)" href="#workoutDetails/{{workout.endomondoId}}">{{workout.id}}</a></td>
			<td>{{workout.readableStartTime}}</td>
			<td>{{workout.readableDuration}}</td>
			<td>{{workout.durationRank}}</td>
			<td>{{workout.distance}}</td>
			<td>{{workout.distanceRank}}</td>
			<td>{{workout.calories}}</td>
			<td>{{workout.speedAvg}}</td>
			<td>{{workout.speedAvgRank}}</td>
			<td>{{workout.sport}}</td>
		</tr>
	</table>
	<br><br>{{status}}
</div>